.container{
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: 1px 0px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

@media(max-width:770px){
    .container{
        width: 100%;
    }
}